body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.admin-symbol {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #f44336; /* Red color */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
    transition: transform 0.3s ease; /* Added transition for zoom effect */
}

.admin-symbol:hover {
    background-color: #e53935; /* Darker red on hover */
    transform: scale(1.1); /* Zoom in effect on hover */
}

.search-form {
    margin-left: 20px;
}

.search-form input[type="text"] {
    padding: 8px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.subject-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.subject-container:hover {
    transform: scale(1.05); /* Zoom in effect on hover */
}

.file-upload {
    margin-top: 20px;
}

.file-upload-input {
    background-color: wheat;
}

.submit-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}
